body,ul,li {
    font-size: 20px;
}
.LifeIsGoodBigSize {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: -20px;
}
.navigation {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(0, 0, 0);
}

.navigation li {
    margin: 0 15px;
}

.navigation a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.navigation a:hover {
    color: green;
}

.logo {
    display: block;
    max-width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    animation: rotatelogo 10s infinite alternate;
}

#TitelUeberMich {
    text-align: center;
    font-weight: bold;
    margin-top: 10vh;
    background: linear-gradient(to right, rgb(171, 171, 5) 50%, black 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(50px,5vw,90px);
  }

#Beschreibung {
    text-align: center;
}

.Projekte {
    max-width: 450px;
}

.Lebenslauf {
    max-width: 450px;
}

.KontaktVerlinkung {
    max-width: 450px;
    top: 20px;
}

@keyframes rotatelogo {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

.vertical-line {
    position: absolute;
    height: 1600px;
    margin-top: 50px;
    content: '';
    left: 50%;
    width: 5px;
    background-color: black;
    transform: translateX(-50%);
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentriere die Elemente horizontal */
    margin-top: 10%;
}
  
.timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}
  
.bubble {
    width: 20px;
    height: 20px;
    top: -1px;
    background-color: rgb(255, 247, 0);
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 10px); /* Zentriere den Bubble über der Linie */
    margin-right: 5px;
}
  
.content {
    display: flex;
    flex-direction: column;
    margin-left: 70%;
}

.date-range {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: clamp(15px,1vw,45px);
}

.title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: clamp(15px, 1vw, 30px);
}

.description {
    max-width: 850px;
    font-size: clamp(15px, 1vw, 20px);
    word-break: normal;

}
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.container-two{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentriere die Elemente horizontal */
    margin-top: 10%;
}
  
.timeline-item-two{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}
  
.bubble-two {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 247, 0);
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 10px); /* Zentriere den Bubble über der Linie */
    margin-right: 5px;
}
  
.content-two {
    display: flex;
    flex-direction: column;
    margin-right: 70%;
}

.date-range-two {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: clamp(15px,1vw,45px);
}

.title-two {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: clamp(15px, 1vw, 30px);
}

.description-two {
    max-width: 850px;
    word-break: normal;
    font-size: clamp(15px, 1vw, 20px);
}
.container-three{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentriere die Elemente horizontal */
    margin-top: 10%;
}
  
.timeline-item-three{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}
  
.bubble-three {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 247, 0);
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 10px); /* Zentriere den Bubble über der Linie */
    margin-right: 5px;
    top: -1px;
}
  
.content-three {
    display: flex;
    flex-direction: column;
    margin-left: 70%;
}

.date-range-three {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: clamp(15px,1vw,45px);
}

.title-three {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: clamp(15px, 1vw, 30px);
}

.description-three {
    max-width: 850px;
    word-break: normal;
    font-size: clamp(15px, 1vw, 20px);
}
.container-four{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentriere die Elemente horizontal */
    margin-top: 10%;
}
  
.timeline-item-four{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}
  
.bubble-four {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 247, 0);
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 10px); /* Zentriere den Bubble über der Linie */
    margin-right: 5px;
    top: -1px;
}
  
.content-four {
    display: flex;
    flex-direction: column;
    margin-right: 70%;
}

.date-range-four {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: clamp(15px,1vw,45px);
}

.title-four {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: clamp(15px, 1vw, 30px);
}

.description-four {
    max-width: 850px;
    word-break: normal;
    font-size: clamp(15px, 1vw, 20px);
}

.container-five{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentriere die Elemente horizontal */
    margin-top: 10%;
}
  
.timeline-item-five{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}
  
.bubble-five{
    width: 20px;
    height: 20px;
    background-color: rgb(255, 247, 0);
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 10px); /* Zentriere den Bubble über der Linie */
    margin-right: 5px;
}
  
.content-five{
    display: flex;
    flex-direction: column;
    margin-right: 70%;
}

.date-range-five{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: clamp(15px,1vw,45px);
}

.title-five{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: clamp(15px, 1vw, 30px);
}

.description-five{
    max-width: 850px;
    word-break: normal;
    font-size: clamp(15px, 1vw, 20px);
}